<div class="card">
    <div class="card--media js-target js-bg-image" data-label="Card Image" style="background-image: url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80)"></div>
    <div class="card--content">
        <h4 class="card--headline js-target js-innertext" data-label="Card Headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
        <div class="Card--text js-target js-innertext" data-labe="Card Text">Nam quis posuere nulla. Sed interdum semper dolor eget varius.</div>
        <a href="#" class="link js-target js-link" data-label="Card Link">Etiam porta</a>
    </div>
</div>
