.grid {
   align-items: baseline;
   align-content: start;
   display: grid;
   gap: var(--px-16) var(--px-16);
   grid-template-columns: repeat($grid-cols, 1fr);
   height: 100%;
   width: 100%;

   + .grid {
      margin: var(--px-16) 0;
   }

   &:last-of-type {
      margin: var(--px-16) 0 0 0;
   }

   &:only-of-type {
      margin: 0;
   }

   &--center {
      @extend .grid;
      align-items: center;
      align-content: center;
   }

   &--page {
      @extend .grid;
      align-content: stretch;
      align-items: stretch;
   }

   &--top {
      @extend .grid;
      align-items: start;
   }

   &--bottom {
      @extend .grid;
      align-items: end;
   }
}

@mixin base-column {
   display: flex;
   flex-direction: column;
   height: 100%;
   position: relative;
   width: 100%;

   @content;
}

@mixin grid-maker {
   @for $count from $grid-cols through 1 {
      &-#{$count} {
         @include base-column {
            grid-column-end: span #{$count};
            grid-column-start: auto;

            @include for-variant('end') {
               grid-column-end: span #{$count};
               grid-column-start: auto;
               justify-content: end;
            }

            @include for-variant('start') {
               grid-column-end: span #{$count};
               grid-column-start: auto;
               justify-content: start;
            }

            @if ($count > 1 and $count < $grid-cols) {
               @for $col-count from $grid-cols through 1 {
                  @include for-variant('at-#{$col-count}') {
                     @include base-column {
                        grid-column-end: span #{$count};
                        grid-column-start: $col-count;
                     }
                  }
               }
            }
         }

         @if ($count % 2 == 0 and $count < $grid-cols) {
            &--centered {
               @include base-column {
                  grid-column-end: span #{$count};
                  grid-column-start: (($grid-cols - $count) / 2) + 1;
               }
            }
         }
      }
   }
}

.col {
   @include with-queries {
      @include grid-maker;
   }
}
