<section class="component" data-component="clean">
    <div class="hero grid grid--content-y:center" data-target="bg-image, box-align"  style="background-image: url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80)">
        <div class="hero--content col-10--centered" data-target="text-align, opacity">
            <h1 class="hero--headline" data-target="headline">Hello World</h1>
            <div class="hero--text" data-target="editor">
                Nam quis posuere nulla. Sed interdum semper dolor eget varius.
            </div>
            <a href="#" class="hero--link" data-target="link">Etiam porta</a>
        </div>
    </div>
</section>
