//-----------------------------------------------------------------------------
.mediabox {
   display: grid;
   grid-gap: 16px;
   grid-template-areas: 'media content';
   grid-template-columns: minmax(200px, 30%) 1fr;
   height: 100%;

   &--media {
      background: #ccc;
      grid-area: media;
   }
   &--content {
      grid-area: content;
   }
}

.mediabox--right {
   grid-template-areas: 'content media';
   grid-template-columns: 1fr minmax(200px, 30%);
}

//-----------------------------------------------------------------------------
.feature--image {
   background-position: 50% 50%;
   background-size: cover;
}

//-----------------------------------------------------------------------------
.mcs--component {
   height: 100%;
}


.hero-large {
   background-position: 50% 50%;
   background-repeat: none;
   background-size: cover;
   height: 100%;
   display: flex;
   align-items: center;
}


.hero {
   display: grid;
   height: 100%;
   background-position: 50% 50%;
   background-size: cover;
   background-repeat: none;
}
