<section class="component" data-component="clean">
    <div class="grid grid:item-stretch" data-target="flip">
        <div class="mediabox--media col-12 sm::col-4" data-target="bg-image" style="background-image: url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80)"></div>
        <div class="mediabox--content col-12 sm::col-8">
            <h4 class="mediabox--headline" data-target="headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
            <div class="mediabx--text" data-target="editor">Nam quis posuere nulla. Sed interdum semper dolor eget varius.</div>
            <a href="#" class="button flex:self-start" data-target="link">Etiam porta</a>
        </div>
    </div>
</section>
