@charset 'UTF-8';

@import 'abstract';

@import 'rebase/font-family';
@import url('normalize.css/normalize.css');

@import 'rebase/grid';
@import 'rebase/baseline';

@import 'customer/components/components';

.mcs--template {
   align-content: stretch;
   align-items: flex-start;
   height: 100%;

   .grid > div {
      border: 3px dotted #444;
   }
}

.modal--screen {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 99998;
   background: var(--color-coolGray-700);
   opacity: 0.5;
}

.component {
   height: 100%;
   width: 100%;
}

.grid\:middle {
   align-content: center;
}
.grid\:top {
   align-content: start;
}
.grid\:bottom {
   align-content: end;
}

.grid\:item-stretch {
   align-items: stretch;
}

.text\:center {
  text-align: center;
}
.text\:left {
   text-align: left;
}
.text\:right {
   text-align: right;
}

.flex\:self-start {
   align-self: start !important;
}
