@charset 'UTF-8';

@import 'abstract';

@import 'rebase/font-family';
@import url('normalize.css/normalize.css');

@import 'rebase/grid';
@import 'rebase/baseline';

.mcs--template--homepage {
   display: grid;
   height: 100%;
   border: 2px solid #444;
   grid-template-areas:
      'header header header'
      'box1 box2 box3';

   .header {
      grid-area: header;
   }
   .box1 {
      grid-area: box1;
   }
   .box2 {
      grid-area: box2;
   }
   .box3 {
      grid-area: box3;
   }
}
