@charset 'UTF-8';

@import 'abstract';

@import 'rebase/font-family';
@import url('normalize.css/normalize.css');

@import 'rebase/grid';
@import 'rebase/baseline';

.mcs--template {
   align-content: stretch;
   align-items: flex-start;
   height: 100%;

   .grid > div {
      min-height: 300px;
      height: 100%;
      border: 2px dotted #444;
      resize: vertical;
      overflow: auto;
   }
}

.hero {
   display: flex;
   align-content: center;
   align-items: center;
   height: 100%;
   background-position: 50% 50%;
   background-size: cover;
   padding: 16px;
}

@import 'customer/components/components';
