label {
   display: inline-block;
}

button {
   border-radius: var(--radius-0);
   padding: var(--px-0);

   &:focus {
      outline: 1px dotted;
      outline: 5px auto -webkit-focus-ring-color;
   }
}

html [type='button'] {
   -webkit-appearance: button;
}

input {
   &[type='text'],
   &[type='email'],
   &[type='password'],
   &[type='number'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
   }

   &[type='date'],
   &[type='time'],
   &[type='datetime-local'],
   &[type='month'] {
      -webkit-appearance: listbox;
   }
}

textarea {
   overflow: auto;
   resize: vertical;
}

button,
label {
   cursor: pointer;
}

fieldset {
   border: 0;
   margin: var(--px-0);
   min-width: 0;
   padding: var(--px-0);
}

legend {
   color: inherit;
   display: block;
   line-height: inherit;
   margin: var(--px-0);
   max-width: 100%;
   padding: var(--px-0);
   width: 100%;
}

[type='search']::-webkit-search-cancel-button {
   -webkit-appearance: none;
   appearance: none;
}

.form {

   &\: {
      &success { }
      &error { }
   }

   &--label { }
   &--input { }
   &--text { }
   &--clickable { }
   &--clickable-text { }

   &--message { }

   &--select { }
   &--option { }

   &--grouped { }
   &--grouped-item { }
}

.button {
   align-items: center;
   background: var(--color-coolGray-800);
   border: 1px solid var(--color-coolGray-800);
   border-radius: var(--radius-2);
   color: var(--color-coolGray-100);
   cursor: pointer;
   display: flex;
   font-size: var(--px-16);
   justify-content: center;
   line-height: var(--leading-normal);
   margin: 0;
   overflow: hidden;
   height: var(--px-40);
   padding: 0 var(--px-16);
   position: relative;
   text-align: center;
   text-decoration: none;
   white-space: word-wrap;

   &\: {
      &xs {
         font-size: var(--px-14);
         height: var(--px-30);
         padding: 0 var(--px-20);
      }
      &sm {
         font-size: var(--px-14);
         height: var(--px-18);
         padding: 0 var(--px-20);
      }
      &md {
         font-size: var(--px-16);
         height: var(--px-40);
         padding: 0 var(--px-16);
      }
      &lg {
         font-size: var(--px-18);
         height: var(--px-20);
         padding: var(--px-8) var(--px-16);
      }
      &xl {
         font-size: var(--px-24);
         height: var(--px-40);
         padding: var(--px-4) var(--px-24);
      }

      &full {
         width: 100%;
      }

      &warning {
         background: var(--color-red-500);
         border: 2px solid var(--color-red-500);
         color: var(--color-coolGray-100);
      }

      &secondary {
         background: transparent;
         border: 2px solid var(--color-coolGray-800);
         color: var(--color-coolGray-800);
      }
   }
}
